extends layout

block content
  .container
    .logo
      img(src="images/logo.svg") 
      h1 fabric
      p your virtual world of creation

    .row.showcase-row
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #1
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #2
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #3
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #1
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #2
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase
            .padder
              img(src="http://placehold.it/125x125")
              h3 Illustration #3
              p Created 5 hours ago

  script(src="javascripts/jquery-1.11.2.min.js")
  script(src="javascripts/three.min.js")
  script(src="javascripts/FileSaver.js")
  script(src="javascripts/STLFileSaver.js")
  script(src="javascripts/STLLoader.js")
  script(src="javascripts/export.js")