extends layout

block content
  .container
    .logo
      img(src="images/logo.svg")
      h1 fabric
      p your virtual world of creation

    .row.showcase-row
      .col-md-4
        .cool-effect
          .art-showcase#0
            .padder
              img(src="/javascripts/0.png", width='150', height='150')
              h3 Illustration #1
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase#1
            .padder
              img(src="/javascripts/1.png", width='150', height='150')
              h3 Illustration #2
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase#2
            .padder
              img(src="/javascripts/2.png", width='150', height='150')
              h3 Illustration #3
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase#3
            .padder
              img(src="/javascripts/3.png", width='150', height='150')
              h3 Illustration #1
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase#4
            .padder
              img(src="/javascripts/4.png", width='150', height='150')
              h3 Illustration #2
              p Created 5 hours ago
      .col-md-4
        .cool-effect
          .art-showcase#5
            .padder
              img(src="/javascripts/5.png", width='150', height='150')
              h3 Illustration #3
              p Created 5 hours ago

  script(src="/javascripts/jquery-1.11.2.min.js")
  script(src="/javascripts/three.min.js")
  script(src="/javascripts/FileSaver.js")
  script(src="/javascripts/STLFileSaver.js")
  script(src="/javascripts/STLLoader.js")
  script(src="/javascripts/export.js")
  script(src="/javascripts/lib/smartcrop.js")

  script.
    function clickAnimate(number) {
      removeFromSTL()
      loadFromSTL(number);
      $('html, body').animate({
          scrollTop: $("canvas").offset().top
      }, 1500);
    }
    $("#0").click(function(){clickAnimate(0)});
    $("#1").click(function(){clickAnimate(1)});
    $("#2").click(function(){clickAnimate(2)});
    $("#3").click(function(){clickAnimate(3)});
    $("#4").click(function(){clickAnimate(4)});
    $("#5").click(function(){clickAnimate(5)});

    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
    camera.position.x = 0;
    camera.position.y = 0;
    camera.position.z = 100;
    camera.lookAt( scene.position );

    // world coordinate system (thin dashed helping lines)
    var origin = new THREE.Vector3(0, 0, 0);
    var lineGeometry = new THREE.Geometry();
    var vertArray = lineGeometry.vertices;
    vertArray.push(new THREE.Vector3(1000, 0, 0), origin, new THREE.Vector3(0, 1000, 0), origin, new THREE.Vector3(0, 0, 1000));
    lineGeometry.computeLineDistances();
    var lineMaterial = new THREE.LineDashedMaterial({color: 0x000000, dashSize: 1, gapSize: 2});
    var coords = new THREE.Line(lineGeometry, lineMaterial);
    scene.add(coords);

    var light = new THREE.DirectionalLight( 0xffffff, 1 );
    light.position.set( 1, 1, 1 ).normalize();
    scene.add( light );

    renderer = new THREE.WebGLRenderer( { antialias: true, preserveDrawingBuffer: true } );
    renderer.setPixelRatio( window.devicePixelRatio );

    renderer.setClearColor( 0xf0f0f0 );
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.sortObjects = false;
    document.body.appendChild( renderer.domElement );

    function render() {
      requestAnimationFrame( render );
      animatedObject.rotation.x += 0.02;
      animatedObject.rotation.y += 0.02;
      renderer.render( scene, camera );
    }

    loadFromSTL(0);

    render();