extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="/javascripts/jquery-1.11.2.min.js")
  script(src="/javascripts/three.min.js")
  script(src="/javascripts/FileSaver.js")
  script(src="/javascripts/STLFileSaver.js")
  script(src="/javascripts/STLLoader.js")
  script(src="/javascripts/export.js")
  script(src="/javascripts/lib/smartcrop.js")

  // img#image(src="/javascripts/0.png")

  script.
    //- var image = document.getElementById(image);
    //- SmartCrop.crop(image, {width: 100, height: 100}, function(result){console.log(result);});


