extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="/javascripts/jquery-1.11.2.min.js")
  script(src="/javascripts/three.min.js")
  script(src="/javascripts/FileSaver.js")
  script(src="/javascripts/STLFileSaver.js")
  script(src="/javascripts/STLLoader.js")
  script(src="/javascripts/export.js")