a{
  color:rgba(239, 72, 54, 0.55);
}

body{
  background:url("../images/grey.png");
  border-top:5px solid #a3cddd;
}

.oculus-menu{
  position: absolute;
  margin-top:-30px;
  
}

.bottomborder{
  background: url("../images/border.png");
  width: 100%;
  height:8px;
  position:absolute;
  bottom:0;
}

.logo{
  margin:40px auto;
}

.logo img{
  width:70px;
  margin:0px auto;
  display: block;
}

.logo h1{
  margin-top:-20px!important;
  font-size:56px;
  color:#a3cddd;
  cursor:default;
  letter-spacing: 0.75px;
  position:relative;
  top:13px;
  text-align: center;
}

.logo p{
  margin-top:5px!important;
  font-size:18px;
  color:#c4cccf;
  text-align: center;
}

.jumbotron{
  background:#fff;
}

.showcase-row{
  margin-top:40px;
}

.showcase-row .col-md-4{
  margin-bottom:30px;
}


.cool-effect .art-showcase{
  background: #fff;
  width:100%;
  border:2px solid rgba(163, 205, 221, 0.15);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.cool-effect .art-showcase:after {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.cool-effect .art-showcase:hover {
  border:2px solid rgba(163, 205, 221, 0.45);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cool-effect .art-showcase:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

.art-showcase img{
  margin: 0px auto;
  display: block;
}

.art-showcase h3{
  font-size:28px;
  font-weight:300;
  text-align: center;
  color:#afbabe;
}

.art-showcase p{
  color: #c4cccf;
  font-size:14px;
  text-align: center;
  margin-bottom:0px;
}

.null-padder{
  padding-left:0px!important;
  padding-right:0px!important;
  padding-top:0px!important;
  padding-bottom:0px!important;
}

.padder{
  padding:45px;
}